
// /** Config */
// @import 'config/variables';
// @import 'config/external';

// /** Common */
// @import 'common/global';

// /** Components */
// @import 'components';

// /** Partials */
// @import 'partials/header';

@import "~provincial-v2/dist/main.css";
// @import "~cnphtml/dist/main.css";
.twitter-typeahead {
    width: 100%;
  
    .tt-hint {
      color: #ccc;
    }
  
    .tt-menu {
      background-color: #eee;
      padding: 15px;
      width: 100%;
  
      .tt-suggestion.tt-cursor {
        font-weight: bold;
      }
    }
  }

  .header {
    .title {
      .site-title {
        font-family: 'moul';
      }
    }
    > div {
      margin: auto 0px;
    }
    .social {
      li {
        a {
          color: #fff;
          background-color: #ddd;
          padding: 7px;
          border-radius: 50%;
          font-size: 22px;
          display: flex;
        }
      }
    }
  }
  footer {
    .social {
      li {
        a {
          color: #fff;
          background-color: #ddd;
          padding: 7px;
          border-radius: 50%;
          font-size: 22px;
          display: flex;
        }
      }
    }
  }
  .font-moul {
    font-family: 'moul';
  }

  // .block-heading {
  //   * {
  //     font-family: 'moul';
  //   }
  // }
